config one-kvm 'main'
	option enabled '0'
	option bind_address '0.0.0.0'
	option http_port '8080'
	option https_enabled '0'
	option https_port '8443'
	option ssl_cert ''
	option ssl_key ''
	option data_dir '/etc/one-kvm'
	option log_level 'info'
	option video_device '/dev/video0'
	option hid_backend 'ch9329'
	option ch9329_port '/dev/ch9329'
	option ch9329_baudrate '9600'
	option ch9329_hybrid_mouse '0'
	option force_host_only '1'
